<div class="min-h-screen flex items-center justify-center bg-gray-300">
    <div class="max-w-md w-full p-6 bg-white shadow-md rounded-md">
      <h1 class="text-3xl font-semibold text-center text-gray-800 mb-4">Welcome!</h1>
      <p class="text-center text-gray-600 mb-6">
        Please login if you are a registered user, or register to create a new account.
      </p>
      <div class="flex justify-around">
        <a routerLink="/login" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Login</a>
        <a routerLink="/register" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">Register</a>
      </div>
    </div>
  </div>
  